body{
  background:green;
}

#potw{
  width:600px;
  position:absolute;
  top:10px;
  left:10px;
}

#q1{
  position:absolute;
  border:2px solid;
  top: 92px;
  left:50px;
  width:30px;
}

.correct{
  background:green;
}

.incorrect{
  background:red;
}
